<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find exocet_mm40_tabs_description)/urdf/exocet_mm40_tabs.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
    args="-param robot_description -urdf -model exocet_mm40_tabs -z 3.2 -P -1.5708 -J Wing1_Ref 2.0944 -J Wing2_Ref 2.0944 -J Wing3_Ref 2.0944 -J Wing4_Ref 2.0944 -J Fin1_Ref -2.0944 -J Fin2_Ref -2.0944 -J Fin3_Ref -2.0944 -J Fin4_Ref -2.0944"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
