<?xml version="1.0"?>

<model>
  <name>canister_black</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Abiyyu Mufti</name>
    <email>mamuftihanif@gmail.com</email>
  </author>
  <depend>
	<uri>model://canister/meshes/MM40_Canister.jpg</uri>
	<uri>model://canister/meshes/MM40_Canister.mtl</uri>
  </depend>
  <description>
    Bali Island heightmap. 
  </description>

</model>
